body {
     background-color: #294d61;
    font-family: Arial sans-seril;
    margin: 0;
}

header {
    background-color:#05161A;
    color: white;
    text-align: center;
    padding: 30px 20px;
}

header p {
    margin-top: 5px;
    color: #ccc;
}

.container {
    max-width: 900px;
    margin: 40px auto;
    background: #6da5c0;
    padding: 30px;
    border-radius: 10px;
}

section {
    margin-bottom: 30px;
}

h2 {
    color: #333;
}
h4 {
    color: #333;
    text-align: center;
}

li, p {
    color: #555;
    font-size: 16px;
}

button{
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 6px;
    background-color: #1e90ff;
    color: white;
    text-align: center;
}
button:hover {
    background-color: #0b5ed7;
}
.projet {
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 10px;
}
.btn {
    display: inline-block;
    margin-top: 10px;
    margin-right: 10px;
    padding: 10px 18px;
    background-color: #1e90ff;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    font-size: 14px;
}
.btn:hover {
    background-color:#0b5ed7;
}
.btn.secondary {
    background-color: #444;
}
.btn.btn.secondary:hover {
    background-color: #222
}